@model Carrera;
@{
    ViewData["Title"] = "Borrar Carrera";
}
@{
    string borradoPersonalizado = ViewBag.MensajeBorradoPersonalizado;
    string borrado = ViewBag.MensajeBorrado;
}
<h2>@ViewData["Title"]</h2>
<p><i>@ViewBag.Fecha</i></p>
<form method="POST">
    <div class="form-group">
        <label asp-for"Nombre"></label>
        Nombre: @Model.Nombre<br />
        <label asp-for"Id"></label>
        Id Carrera: @Model.Id<br />
        <label asp-for"Jornada"></label>
        Jornada: @Model.Jornada
    </div>
    <br />
    @if (!string.IsNullOrEmpty(borrado))
    {
        <div class="alert alert-warning">
            <span>@borrado</span>
        </div>
    }
    else if (!string.IsNullOrEmpty(borradoPersonalizado))
    {
        <div class="alert alert-danger">
            <span>@borradoPersonalizado</span>
        </div>
    }

    <a class="btn btn-info btn-primary-custom" asp-action="MultiCarrera">Volver</a>
    @{
        if (string.IsNullOrEmpty(borradoPersonalizado))
        {
            <button type="submit" class="btn btn-danger btn-primary-custom" asp-action="Borrar">Borrar</button>
        }
    }
</form>
