@model Carrera;
@{
    ViewData["Title"] = "Información Carrera";
}
<h2>@ViewData["Title"]</h2>
@{
    string mensajeExito = ViewBag.MensajeExito;
    string mensajeError = ViewBag.MensajeErrorPersonalizado;
    if (mensajeExito != null)
    {
        <div class="alert alert-success">
            <span>@ViewBag.MensajeExito</span>
        </div>
    }
    if (mensajeError != null)
    {
        <div class="alert alert-danger">
            <span>@ViewBag.MensajeErrorPersonalizado</span>
        </div>
    }
}
<p><i>@ViewBag.Fecha</i></p>
<p>
    Nombre: @Model.Nombre<br />
    Id Carrera: @Model.Id<br />
    Jornada: @Model.Jornada
</p>
<a class="btn btn-info btn-primary-custom" asp-action="MultiCarrera">Ver Carreras</a>
